RAG pipeline and AGENT.json
{
  "name": "RAG pipeline and AGENT",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant\nYou are an AI agent who is an expert at the rules of football . You will receive a question from the human, and you must use your tool called “Supabase Vector Store” in order to retrieve information from the database to make sure you are answering the question accurately.\n\nSelect the Appropriate chunk from the database and maintain accuracy of output above 8"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        592
      ],
      "id": "c3d6415a-9e48-4de7-8b5b-f8e6bbb2525c",
      "name": "AI Agent1",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        752
      ],
      "id": "d634e3d9-f1c7-419f-b521-4f18f46ca557",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "5PrrzzmPbupdjsPV",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        1104
      ],
      "id": "e8b8d5a9-90c7-4470-985d-eb2e62a46fc2",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "2rdWYASyT51m9pYf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -464,
        304
      ],
      "id": "ef214794-d383-48c5-8da7-46911639197a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UQEsbVNvxtX0L4Pu",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1X8kKGrOrjT9wh1DX7o9MnFZd-CKKYtEZ",
            "mode": "list",
            "cachedResultName": "cricket and football rules",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1X8kKGrOrjT9wh1DX7o9MnFZd-CKKYtEZ"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1552,
        304
      ],
      "id": "0b7d5726-ac26-4af5-a078-2a31a93e4282",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RoSkqz2eHQxGdWFV",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -928,
        304
      ],
      "id": "e318d78e-22b2-4458-af98-1d7162a3c10f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Get text from previous node\ntext = _items[0][\"json\"][\"text\"]\n\nchunks = []\ncurrent_chunk = \"\"\n\nlines = text.split(\"\\n\")\n\nfor line in lines:\n    stripped = line.strip()\n\n    # Detect headings like:\n    # 1.\n    # 2.\n    # 10.\n    if (\n        len(stripped) > 2 and\n        stripped[0].isdigit() and\n        \".\" in stripped[:4]\n    ):\n        # Save previous chunk\n        if current_chunk:\n            chunks.append(current_chunk.strip())\n\n        # Start new chunk\n        current_chunk = stripped\n\n    else:\n        current_chunk += \"\\n\" + stripped\n\n# Add last chunk\nif current_chunk:\n    chunks.append(current_chunk.strip())\n\n# Convert to n8n output format\noutput = []\n\nfor chunk in chunks:\n    first_part = chunk.split(\".\", 1)[0]\n\n    rule_number = first_part if first_part.isdigit() else None\n\n    output.append({\n        \"json\": {\n            \"rule_number\": rule_number,\n            \"content\": chunk\n        }\n    })\n\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        304
      ],
      "id": "9f7b3751-c1c9-4797-8352-c8094ec806cd",
      "name": "Code in Python"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -528,
        544
      ],
      "id": "f6e39db1-62bc-46af-ab6b-d4d8dd7dd88c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "2rdWYASyT51m9pYf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        304
      ],
      "id": "7ffd070e-4aa3-4d3e-aa2b-aa5952f9781a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RoSkqz2eHQxGdWFV",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "rule_no",
                "value": "={{ $json.rule_number }}"
              },
              {
                "name": "doc_id",
                "value": "={{ $('Download file').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -288,
        528
      ],
      "id": "1d178593-afda-4605-ba4d-b6968f4144fa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 75,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -400,
        688
      ],
      "id": "ce235f3e-aa3a-4e5e-ac8a-a7de12517bb4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1136,
        304
      ],
      "id": "32f43c86-bf1a-4ffa-ad48-677f4ea33c72",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        576
      ],
      "id": "5897d032-4546-4515-ae08-07afc67f9c02",
      "name": "When chat message received",
      "webhookId": "77e81414-3f9f-404e-a96a-cd59aa76fa82"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        528,
        896
      ],
      "id": "22dcbbf1-4569-4823-85a7-23cf4dc7cf4f",
      "name": "Get many rows in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "UQEsbVNvxtX0L4Pu",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "get the rules of football from me",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        896
      ],
      "id": "77bc0010-345d-4690-8530-490d195df276",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "UQEsbVNvxtX0L4Pu",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1120,
        1136
      ],
      "id": "167efd92-a556-4713-9cfc-27aa7b2d943a",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "gQOwgNEG09f89SxV",
          "name": "Cohere account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "43b9f63d-0498-49dc-8cf3-bb0087176045",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5669ac656271db12afb232ee28fb918c8bddb416415838c167a26448c6fe614f"
  },
  "id": "O9Dz7Z6otEoippUZ",
  "tags": []
}